body {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

button:focus {
  outline: none;
}

@mixin phone {
  @media (max-width: 600px) { @content; }
}