@import "global";
@import "swipper";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #ccc;

  @include phone {
    height: 100px;
  }
}

.nav-top {
  font-family: inherit;
  border-bottom: 1px solid #ccc;

  @include phone {
    height: 50px;
  }

  ul {
    padding: 15px 15px;
    border-left: 1px solid #ccc;
    color: #5e5e5e;
    font-size: 12px;

    @include phone {
      display: none;
    }

    li {
      float: left;
      cursor: pointer;
      line-height: 2;
      text-align: center;
      padding: 0 10px;
      font-weight: 500;

      &:hover {
        color: black;
      }
    }
  }
}

.nav-bottom {
  font-family: inherit;

  @include phone {
    display: none;
  }

  ul {
    padding: 15px 15px;
    color: #5e5e5e;
    font-size: 14px;

    li {
      float: left;
      cursor: pointer;
      line-height: 2;
      text-align: center;
      padding: 0 10px;
      font-weight: 500;

      &:hover {
        color: black;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 30%;
  left: 21%;

  @include phone {
    left: 10%;
  }

  img {
    width: 200px;
  }
}


.banner {
  position: relative;
  height: 750px;
  width: 100%;
}

.jumbo {
  .jumbo-pagination {
    font-size: 12px;
    color: #a0a0a0;
    font-weight: 500;
  }

  .jumbo-card {
    padding: 10px;
    border-radius: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }

    .card-title {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 5px;
    }

    .card-text {
      padding-top: 20px;
      color: #818181;
      font-size: 12px;
    }

    .card-bottom {
      padding-top: 15px;
      color: #818181;
      font-size: 12px;
    }
  }
}

.card-ped {
  padding-right: 0;
  padding-left: 10px;
}

.top-footer {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    overflow: hidden;
  }

  .top-footer-container {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 1100px;

    @include phone {
      padding: 20px;
      overflow: hidden;
      top: 0;
    }

    .top-footer-head {
      padding: 20px 40px;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      font-size: 30px;
      letter-spacing: 3px;
    }

    .top-footer-text {
      max-width: 1200px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-size: 13px;
      padding: 10px 0;
    }

    .top-footer-button {
      margin-top: 60px;
      @include phone {
        margin-top: 5px;
      }

      button {
        background: #e67e22;
        color: #fff;
        border: 0;
        padding: 15px 25px;
        font-size: 13px;
        margin: 0 auto;
        display: flex;
        cursor: pointer;
        transition: 300ms;

        &:hover {
          transition: 300ms;
          background: rgba(230, 126, 34, 0.8);
        }
      }
    }
  }
}

.footer {
  padding: 50px 0;
  background: #262626;

  .footer-about {
    h4 {
      color: #fff;
      margin-bottom: 20px;
    }

    p {
      color: #999999;
      font-size: 13px;
      text-align: justify;
    }
  }
  .footer-links {
    .col-md-4 {
      padding-left: 30px;
      padding-right: 0;
      @include phone {
        width: 32%;
      }

      &.center {
        padding-left: 0;
        @include phone {
          padding-left: 10px;
        }
      }
    }
    h6 {
      color: #fff;
      margin-bottom: 25px;
      @include phone {
        margin-top: 25px;
      }
    }
    ul {
      display: inline-grid;
      margin: 0 auto;
      li {
        color: #999999;
        font-size: 13px;
        text-align: justify-all;
        padding: 3px 0;


        span.white, &.white {
          color: #cccccc;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.bottom-footer {
  background: #1b1b1b;
  padding: 30px 0;
  @include phone {
    padding-left: 30px;
    padding-right: 30px;
  }
  p {
    font-size: 14px;
    color: #999999;
  }
  img {
    position: absolute;
    right: 20px;
  }
}