@import "global";

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  &.jumbot {
    height: auto!important;
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
    &:hover {
      .swiper-button-prev, .swiper-button-next {
        display: block;
      }
    }

    .swiper-pagination {
      bottom: 0!important;
      position: relative;
    }
  }
}
.swiper-slide {
  background-size: cover;
  background-position: center;
  @include phone {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-container-thumbs {
  background: #eaeaea;
  padding: 30px 0!important;
  .swiper-wrapper {
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);
    margin: 0 auto;
    position: relative;
    left: 45%;
    overflow: hidden;

    @include phone {
      left: 20%;
    }
  }
  .swiper-slide {
    width: 100px!important;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 0!important;
    padding: 30px 0;
  }
}